<h2>Eventos</h2>
<hr>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input type="text"
      class="form-control mr-2"
      placeholder="Buscar"
      [(ngModel)]="filtroLista"
    >
    </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="mostrarImagem = !mostrarImagem">{{!mostrarImagem ? 'Ocultar Imagem' : 'Exibir Imagem'}}</button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qdt Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length > 0">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img src="/assets/{{evento.imagemURL}}"
        [collapse]="mostrarImagem"
        [isAnimated] = true
        [style.width.px] = "widthImg"
        [style.margin.px] = "marginImg">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button class="btn btn-primary mr-2">Editar</button>
        <button class="btn btn-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="eventos == null || eventos.length == 0">
    <tr>
      <td colspan="8" class="text-center">Nenhum evento encontrado...</td>
    </tr>
  </tfoot>
</table>
